.root{
    -fx-background-image:url('../image/BG_MainMenu.jpeg');
    -fx-background-size:cover;
}

.BG_User1, .BG_User2{
    -fx-background-image:url('../image/BG_Lobby_User_Input.png');
    -fx-background-radius: 10px;
}

.inputName {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-alignment: center;
}

.readyButton:hover{
    -fx-background-color: white;
}

.clickedReady{
    -fx-background-color: green;
}

.backButton{
    -fx-background-color: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.backButton:hover {
    -fx-background-color: red;
}